body {
	background-image:url("res/bg.jpg");
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;

    line-height: 1.6em; /* fix for thai font*/
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

#groupConsole{

    width: 100%; 
    height: 435px; 
    overflow: auto
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #CAE4FA;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #428bca;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #1D74BF;
}